---
import { getPlugins, type Plugin } from '../../api/plugins';
import BaseLayout from '../../layouts/BaseLayout.astro';
import 'highlight.js/styles/github-dark-dimmed.css';

export async function getStaticPaths() {
  const plugins = await getPlugins();
  console.log(plugins.map((p) => p.slug));
  return plugins.map((p) => ({
    params: { pluginName: p.slug },
    props: { plugin: p },
  }));
}

const plugin: Plugin = Astro.props.plugin;
---

<BaseLayout title={plugin.name}>
  <section>
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 z-50 items-center"
    >
      <pre>
    <code class="hljs language-shell">
    <span class="hljs-comment"># Install this plugin</span>
    <span class="hljs-attr">npm</span> install {plugin.npmName}
    </code>
    </pre>

      <!-- Badges -->
      <img
        class="inline-block"
        src={`https://img.shields.io/badge/version-${plugin.version}-3DC685`}
      />
      {
        plugin.compatibility ? (
          <img
            class="inline-block"
            src={`https://img.shields.io/badge/compatible with Vendure-${plugin.compatibility}-3DC685`}
          />
        ) : (
          <img
            class="inline-block"
            src="https://img.shields.io/badge/dynamic/json.svg?url=https%3A%2F%2Fraw.githubusercontent.com%2FPinelab-studio%2Fpinelab-vendure-plugins%2Fmain%2Fpackage.json&query=$.devDependencies[%27@vendure/core%27]&colorB=blue&label=Built%20on%20Vendure&color=%2317C1FF"
          />
        )
      }

      <div class="prose" set:html={plugin.markdownContent} />
    </div>
  </section>
</BaseLayout>
