---
import Layout from '../../../layouts/Layout.astro';
import { getPlugins, type Plugin } from '../../../utils/plugins';
import 'highlight.js/styles/github-dark-dimmed.css';

export async function getStaticPaths() {
  const plugins = await getPlugins();
  return plugins.map((p) => ({
    params: { pluginName: p.slug },
    props: { plugin: p },
  }));
}

const plugin: Plugin = Astro.props.plugin;
---

<Layout
  metaTitle={`${plugin.name} Changelog`}
  metaDescription={`Changelog for Vendure plugin ${plugin.name}`}
>
  <section
    class="mt-18 mx-auto max-w-7xl px-6 pb-24 sm:pb-32 lg:items-center 10 lg:px-8 lg:pb-40"
  >
    <div>
      <pre>
    <code class="hljs language-shell">
    <span class="hljs-comment"># Install this plugin</span>
    <span class="hljs-attr">npm</span> install {plugin.npmName}
    </code>
    </pre>

      <!-- Changelog link -->
      <div class="text-left mb-2">
        <a class="text-green-600" href={`/plugin/${plugin.slug}`}>
          &lsaquo; Readme</a
        >
      </div>

      <div class="mb-12">
        <h1
          class="text-5xl font-semibold tracking-tight text-pretty text-gray-800 sm:text-4xl"
        >
          Changelog for <code>{plugin.slug}</code>
        </h1>
      </div>

      <div class="prose !max-w-none" set:html={plugin.changelogContent} />
    </div>
  </section>
</Layout>
