---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';

import { getPlugins } from '../utils/plugins';
import {
  getPluginsContributors,
  type Contributor as ContributorType,
} from '../utils/contributors';
import Contributor from '../components/Contributor.astro';

const plugins = await getPlugins();
const contributors = await getPluginsContributors();
---

<Layout
  metaTitle="Pinelab Vendure Plugins"
  metaDescription="Battle tested Vendure plugins, built by Pinelab.studio"
>
  <HeroSection />

  <section id="plugins">
    <div
      class="mx-auto max-w-7xl px-6 pb-24 sm:pb-32 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:pb-40"
    >
      <div
        class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 mt-12"
      >
        {
          plugins.map((plugin) => (
            <div>
              <div class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  <div class="flex items-center justify-center size-10 text-green-500 rounded-full">
                    <img src={plugin.icon} class="rounded" />
                  </div>
                  <a
                    aria-label={plugin.name}
                    href={`/plugin/${plugin.slug}`}
                    title={plugin.name}
                    class="mt-5 font-semibold text-purple-900 lg:mt-0"
                  >
                    {plugin.name}
                  </a>
                </div>
                <p class="text-sm text-slate-500 mt-5">{plugin.description}</p>
                <div class="mt-5">
                  <a
                    aria-label={plugin.name}
                    href={`/plugin/${plugin.slug}`}
                    title={plugin.name}
                    class="text-green-500 hover:text-green-600 inline-flex items-center group"
                  >
                    Learn more
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="size-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <div class="mb-14">
    {
      contributors.length > 0 && (
        <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 ">
          <h2 class="text-center font-bold text-gray-600 text-4xl">
            Contributors
          </h2>
          <p class="text-slate-500 mb-16 text-center">
            Thanks to everyone who contributed to our plugins!
          </p>
          <div class="flex flex-wrap gap-x-4 sm:gap-x-16 gap-y-4 sm:gap-y-12 items-center justify-center">
            {contributors.map((c: ContributorType) => {
              return (
                <>
                  <a href={c.html_url} target="_blank">
                    <div class="flex justify-center">
                      <Contributor
                        name={c.login}
                        image={c.avatar_url}
                        contributions={c.contributions}
                      />
                    </div>
                  </a>
                </>
              );
            })}
          </div>
        </div>
      )
    }
  </div>
</Layout>
