---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getPlugins } from '../api/plugins';

const plugins = await getPlugins();

// https://spaziobianco.lexingtonthemes.com/jobs/home/
---

<BaseLayout>
  <section>
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 mt-24 z-50 items-center"
    >
      <div class="lg:pr-24 md:pr-12 pb-12 lg:pb-0 max-w-xl">
        <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
          >OPEN SOURCE 4 LIFE</span
        >
        <h2
          class="text-purple-900 font-semibold mt-6 text-4xl lg:text-7xl tracking-tight"
        >
          Battle tested Vendure plugins
        </h2>
        <p class="text-slate-500 mt-5 lg:text-balance">
          Vendure plugins built by <a
            class="text-blue-600"
            href="https://pinelab.studio"
            target="_blank">Pinelab</a
          >, used for solving real problems for our clients.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div
      class="h-64 justify-center lg:px-0 max-h-full md:px-12 overflow-hidden relativ -skew-y-[16deg] transform mb-24"
    >
      <div class="bg-white block lg:flex-1 lg:relative sm:contents">
        <div class="bg-white absolute h-full inset-0 object-cover w-full">
          <video
            autoplay=""
            class="bg-white absolute max-w-none min-h-full min-w-full w-auto z-10"
            loop=""
            muted=""
            ><source src="/gradientB.mp4" type="video/mp4" />Your browser does
            not support the video tag.</video
          >
        </div>
      </div>
    </div>
  </section>

  <section id="plugins">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 mb-12">
      <div
        class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 mt-12"
      >
        {
          plugins.map((plugin) => (
            <div>
              <div class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  <div class="flex items-center justify-center size-10 text-blue-500 rounded-full">
                    <img src={plugin.icon} />
                  </div>
                  <a
                    aria-label={plugin.name}
                    href={`/plugin/${plugin.slug}`}
                    title={plugin.name}
                    class="mt-5 font-semibold text-purple-900 lg:mt-0"
                  >
                    {plugin.name}
                  </a>
                </div>
                <p class="text-sm text-slate-500 mt-5">{plugin.description}</p>
                <div class="mt-5">
                  <a
                    aria-label={plugin.name}
                    href={`/plugin/${plugin.slug}`}
                    title={plugin.name}
                    class="text-blue-500 hover:text-blue-600 inline-flex items-center group"
                  >
                    Learn more
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="size-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
