---
const companyDetails = {
  name: 'Pinelab.studio',
  street: 'Cornelis Trooststraat 48',
  postalCode: '8932 BR',
  city: 'Leeuwarden',
  country: 'The Netherlands',
  chamberOfCommerce: '94997713',
  vatId: 'NL002345678B01',
};
const contacts = [
  {
    firstName: 'Martijn',
    lastName: 'van de Brug',
    email: 'Martijn@pinelab.studio',
  },
];
const navigation = {
  pages: [
    { name: 'Home', href: '/' },
    { name: 'Plugins', href: '/#plugins' },
  ],
  resources: [
    { name: 'Recipes', href: 'https://pinelab.studio/recipes/' },
    { name: 'Pinelab.studio', href: 'https://pinelab.studio/' },
    { name: 'llms.txt', href: '/llms.txt' },
  ],
  social: [
    ...contacts.map((contact) => ({
      name: contact.email,
      href: `mailto:${contact.email}`,
    })),
    {
      name: 'LinkedIn',
      href: 'https://www.linkedin.com/company/pinelab-studio',
    },
    {
      name: 'GitHub',
      href: 'https://github.com/Pinelab-studio/',
    },
  ],
};
---

<footer class="-mx-8 border-t border-gray-800 text-base-contrast">
  <div class="mx-auto max-w-7xl p-8 xl:px-0">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="space-y-4">
        <img
          class="mb-4 h-9 w-9"
          src="/pinelab-sticker.webp"
          alt="Pinelab.studio"
          loading="lazy"
          width="313"
          height="294"
        />
        <p>
          {companyDetails.name}
          <br />
          {companyDetails.street}, {companyDetails.postalCode}
          <br />
          {companyDetails.city},
          {companyDetails.country}
          <br /><br />
          CoC {companyDetails.chamberOfCommerce}
          <br />
          VAT {companyDetails.vatId}
        </p>
        <p>
          🍪 Have you seen a cookie banner? No? That is because we use privacy
          friendly analytics!
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold">Contact</h3>
        <ul role="list" class="mt-4 space-y-4">
          {
            navigation.social.map((item) => (
              <li>
                <a href={item.href} class="hover:text-white">
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold">Pages</h3>
        <ul role="list" class="mt-4 space-y-4">
          {
            navigation.pages.map((item) => (
              <li>
                <a href={item.href} class="hover:text-white">
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
        <h3 class="mt-8 text-xl font-semibold">Resources</h3>
        <ul role="list" class="mt-4 space-y-4">
          {
            navigation.resources.map((item) => (
              <li>
                <a href={item.href} target="_blank" class="hover:text-white">
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="mt-8 border-t border-white/10 pt-8">
      <p>&copy; Your trusted partner in ecommerce since 2021</p>
    </div>
  </div>
</footer>
